{% extends 'base.html.twig' %}
{% block title %}Récupération de mot de passe ! {% endblock %}

{% block style %} <link href="assets/css/recover.css" type="text/css">  {% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="mx-auto">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Mot de passe perdue ?</h2>
                            <p>Vous pouvez le changer ici !</p>
                            <div class="panel-body">
                                <form id="register-form" class="form" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="email" placeholder="Adresse email" class="form-control"  type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button name="submit" class="btn btn-lg btn-primary btn-block">Changer</button>
                                    </div>
                                    <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LfjWdMZAAAAAOGTNjlB_Kzt4oMKij5iruXmkqfh"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LeBlNMZAAAAAOUOacoABXJl3_GyUl4SgVUn1RHT', { action: 'contact' }).then(function (token) {
                var recaptchaResponse = document.getElementById('recaptchaResponse');
                recaptchaResponse.value = token;
            });
        });
    </script>
{% endblock %}
