{% extends 'base.html.twig' %}
{% block title %}
Inscription !
{% endblock %}
{% block body %}
    <section class="container">
        <h1 class="text-center mt-4">Inscrivez-vous !</h1>
        <form method="post">
            <div class="form-group mt-5">
                <label for="email">Adresse email</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Insérez votre email">
                <small id="emailHelp" class="form-text text-muted">Nous ne la partagerons avec personne !</small>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Insérez un mot de passe">
            </div>
            <div class="form-group">
                <label for="firstName">Prénom</label>
                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Insérez votre prénom">
            </div>
            <div class="form-group">
                <label for="lastName">Nom</label>
                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Insérez votre nom">
            </div>
        <button type="submit" name="submit" class="btn btn-primary rounded ">Envoyer</button>
            <p class="text-danger mt-3">
                {% if message is not null  %}
                    {{ message| raw }}
                {% endif %}
            </p>
        </form>
    </section>
{% endblock %}
