<input type="password" class="mt-2 mb-2 input-lg form-control" name="password1" id="password1" placeholder="Nouveau mot de passe" autocomplete="off">
<div class="row">
    <div class="col-12">
        <span id="8char" class="far fa-times-circle" style="color:#FF0004;"></span> 8 caractères<br>
        <span id="ucase" class="far fa-times-circle" style="color:#FF0004;"></span> Une lettre majuscule<br>
        <span id="lcase" class="far fa-times-circle" style="color:#FF0004;"></span> Une lettre minuscule<br>
        <span id="num" class="far fa-times-circle" style="color:#FF0004;"></span>Un nombre<br>
        <span id="spec" class="far fa-times-circle" style="color:#FF0004;"></span> un caractères spéciaux (@#\-_$%^&+=§!?.)
        <input type="password" class="mt-2 mb-2 input-lg form-control" name="password2" id="password2" placeholder="Repeter le mot de passe" autocomplete="off"></div>
    <div class="col-sm-12">
        <span id="pwmatch" class="far fa-times-circle" style="color:#FF0004;"></span> Mot de passe similaire
    </div>
</div>
