{% extends 'base.html.twig' %}
{% block title %} Plus d'information sur moi !{% endblock %}

{% block body %}
    <div class="text-center">
    <h1 class="text-center">Plus d'information sur moi !</h1>
    <a href="assets/img/cv.pdf" download="cv-kg.pdf"><p>Vous pouvez telechargez mon curriculum vitæ ici</p></a>
    <img src="assets/img/cv.gif"class="img-fluid center-block">
    </div>

{% endblock %}
