{% extends 'base.html.twig' %}
{% block title %} Plus d'information sur moi !{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Plus d'information sur moi !</h1>
            <a href="assets/img/cv.pdf" download="cv-kg.pdf"><p>Vous pouvez telechargez mon curriculum vitæ ici </p></a>
            <img src="assets/img/cv-kg.png" class="img-fluid center-block" style="height: 70%; width: 70%">
        </div>
    </div>
{% endblock %}
