<!DOCTYPE html>
<html lang="fr">
<title>{% block title %} {% endblock %}</title>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<header>
    {{ include('include/nav.html.twig') }}
</header>
<div class="container">
    {% block body %}

    {% endblock %}
</div>
<footer>
    {{ include('include/footer.html.twig') }}
</footer>
</body>
</html>
