<!DOCTYPE html>
<html lang="fr">
<title>{% block title %} {% endblock %}</title>
<head>
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body>
<header>
    {{ include('include/nav.html.twig') }}
</header>
    {% block body %}

    {% endblock %}

    {% block footer %}
    {{ include('include/footer.html.twig') }}
    {% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
