{% extends 'base.html.twig' %}

{% block title %}
    Modifiez votre article !
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5">Modifiez votre article !</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group mt-5">
                <label for="title">Titre de l'article</label>
                <input type="text" class="form-control" name="title" id="title" value="{{ post.title }}" required>
            </div>
            <div class="form-group">
                <label for="image">Ajouter une image !</label>
                <input type="file" class="form-control-file" name="form" id="image">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="content">Contenu de l'article !</label>
                <textarea  class="form-control" name="content" id="content" rows="30" placeholder="Placez le contenu de l'article ici !">{{ post.content }}</textarea>
            </div>
            <button type="submit" name="submit" class="btn btn-primary rounded ">Envoyer</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
  {{ include('post/tinyMce.html.twig') }}
{% endblock %}
