<form method="post" action="index.php?access=user!delete" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method">
    <button class="btn">Delete</button>
</form>
